* {
    margin: 0;
    padding: 0;
}

span {
    cursor: pointer;
}

img {
    cursor: pointer;
}

li {
    cursor: pointer;
}

.part_top {
    margin-top: 10px;
    width: 100%;
    margin: 0 auto;
    background-color: #ece7e7ee;
}

.part_top_head {
    width: 1000px;
    height: 25px;
    line-height: 25px;
    margin: 0 auto;
    text-align: center;
}

.head_left_font {
    float: left;
    font-size: 12px;
}
#sa{
    margin-left: 15px;
}

.head_right_font {
    float: right;
    font-size: 12px;

}

.tt_font_left {
    float: left;
}

.tt_font {
    float: left;
}

.tt_font div {
    float: left;
}

.tt_font a:link {
    color: #C3ACA5;
    text-decoration: none;
}

.tt_font a:hover {
    color: red;
}

.kk_border {

    height: 18px;
    border-left: 1px solid #C3ACA5;
    padding-left: 6px;
}

.tt_font a {
    margin-top: 4px;
}

.tt_font img {
    margin-top: 4px;
}

.part1 {
    margin-top: 39px;
    position: relative;
}

.part11 {
    margin-top: 30px;
    width: 1000px;
    height: 83px;
    margin: 0 auto;
}

.part1_element1 {
    float: left;
}

.part1_element1>img {
    position: absolute;
    top: 3px;
    left: 195px;
}

.ppp {
    position: absolute;
    top: 10px;
    left: 395px;
    background-color: red;
    color: white;
}

.ppp:hover {
    background-color: rgb(173, 28, 28);
}

.part1_element2 {
    float: left;
    position: absolute;
    top: -4px;
    left: 500px;
}

.part1_element2 input {
    width: 500px;
    box-sizing: border-box;
    border: 3px solid #f52f3e;
    height: 38px;
    outline: none;

}

.aaa span {
    font-size: 12px;
    margin-left: 20px;
    color: #C3ACA5;
}

.part1_element3 {
    position: absolute;
    top: 10px;
    right: 335px;
    float: left;
    margin-left: 30px;
}

.part1_element3>span {
    margin-top: 10px;
}

.part1_element4 {
    float: left;
    position: absolute;
    top: 10px;
    right: 225px;
}

.part2_element1>div:nth-child(1) {
    width: 230px;
    height: 40px;
    color: white;
    background-color: #f52f3e;
    text-align: center;
    line-height: 40px;
}
 .part2_element1{
    position: relative;
}

.baba:hover  .son{
    display: block;
}
.son{
    width: 230px;
    height: 387px;
    background-color:rgba(202, 196, 196, 0.774);
    z-index: 6;
    position: absolute;
    top: 40px;
    left: 0px;
    display: none;
}

























































.clearFloat:after {
    content: "";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.clearFloat {
    zoom: 1;
}