<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../stylesheet/huaer.css">
</head>
<body>

    <div class="part_top">

        <div class="part_top_head clearFloat">

            <div class="head_left_font ">
                <span>Hi,欢迎来到 九川竹木网上商城！</span>
                <input type="button" name="popBox" value="请登录" onclick="popBox()">
                <a href="./reg.html">请注册</a>
            </div>

            <div class="head_right_font">
                <div class="tt_font_left">
                    <select name=" 你好" id="">
                        <option value="">你好</option>
                        <option value="" key="">你好</option>
                        <option value="" key="">你好</option>
                    </select>
                    <span>&nbsp;&nbsp;消息&nbsp;</span>
                    <span>退出&nbsp;</span>
                </div>
                <div class="tt_font clearFloat">
                    <div class="kk_border"><img src="../img/icon/图层-1.png" alt=""><a href="javascript:;">&nbsp;
                            &nbsp; 购物车(2)</a></div>
                    <div><img src="../img/icon/gouwu.png" alt=""><a href="javascript:;">&nbsp; &nbsp;我的订单</a></div>
                    <div><img src="../img/icon/收藏.png" alt=""><a href="javascript:;">&nbsp; &nbsp;我的收藏</a></div>
                    <div><img src="../img/icon/灯泡.png" alt=""><a href="javascript:;">&nbsp; &nbsp;帮助中心</a></div>
                    <span id="sa"></span>
                </div>
            </div>

        </div>
    </div>
    <div class="part1 ">
        <div class="part11 clearFloat">
            <div class="part1_element1">
                <img src="../img/icon/download.png" alt="">
            </div>
            <div class="part1_element2">
                <div>
                    <input type="text" name="" id="" placeholder="请输入想要的商品"> <span class="ppp"
                        style="border: 3px solid #f52f3e; width: 100px; height: 30px; display: inline-block; text-align: center; line-height: 30px;">搜索</span>
                    <span><img src="../img/icon/header-sch.png" alt=""></span>
                    <div class="aaa">
                        <span>太平鸟</span>
                        <span>手机</span>
                        <span>内衣</span>
                        <span>太平鸟</span>
                    </div>
                </div>

            </div>
            <div class="part1_element3">
                <img src="../img/icon/header-circle.png" alt="">
                <span style="color:#f52f3e; font-size: 16px;">400-000-000</span>
            </div>
            <div class="part1_element4">
                <img src="../img/icon/header-circle.png" alt="">
                <span style="color: #b0b0b0; font-size: 14px;">在线客服</span>
            </div>
        </div>
    </div>


    <div class="hua">
        <div class="hua_item1">
            <img src="../img/huaer_img/1.jpg" alt="">
        </div>
    </div>

    
    </div>
    <div class="shop" id="shops">
            
    </div>
</body>
<script>
    window.onload=function(){
        var shops =document.getElementById("shops");
   var xhr =new XMLHttpRequest();
   xhr.onreadystatechange=function(){
       if(xhr.readyState===4 && xhr.status===200){
           var obj =JSON.parse(xhr.responseText);
           console.log(obj);
           console.log(obj[6].url)

           var kk ="";
   for(var i = 0 ; i<obj.length;i++){
    kk+=`
    <img src="../img/img_goods/${obj[i].url}" alt="" class="goods_shop">
    `
   }
   shops.innerHTML=kk
       }

   }
   url='http://127.0.0.1:8080/index_shop/shops/';
   xhr.open('GET',url,true);
   xhr.send();
 
    }
    
  
</script>
</html>