<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <style></style>
    <link rel="stylesheet" href="../stylesheet/reg.css">
</head>

<body>
    <div class="part">
        <div class="part2">
            <p>用科技</p>
            <span>让复杂的世界更简单</span></h3>
        </div>

        <div class="part3">
            <div>
                <div class="part4">
                    <p>欢迎注册</p>
                    <span>已有账号？ <a href="">登录</a></span><br>
                    用户名<input type="text" placeholder="请输入用户名"><br>
                    手机号<input type="text" placeholder="用于找回账号和密码"><br>
                    密码 &nbsp; <input type="text" placeholder="设置登录密码"><br>
                    <div>注册</div>

                    <input type="radio" class="aaa"><span class="bbb">阅读并接受《用户协议》及《隐私权保护声明》</span>
                </div>
            </div>
        </div>

    </div>
</body>

</html>